openapi: 3.1.0
info:
  title: VocalIA Voice API
  version: 1.0.0
  description: |
    VocalIA Voice AI Platform API - Resilient multi-provider voice AI with BANT lead qualification.

    ## Features
    - Multi-AI fallback (Grok → Gemini → Anthropic → Atlas → Local)
    - BANT lead qualification (Budget, Authority, Need, Timeline)
    - HubSpot CRM integration
    - 5 languages support (FR, EN, ES, AR, Darija)
    - Rate limiting (60 req/min per IP)

    ## Authentication
    CORS-protected. Allowed origins: vocalia.ma, localhost:8080
  contact:
    name: VocalIA Support
    email: contact@vocalia.ma
    url: https://vocalia.ma
  license:
    name: Proprietary
    url: https://vocalia.ma/terms

servers:
  - url: https://api.vocalia.ma
    description: Production server
  - url: http://localhost:3004
    description: Development server

paths:
  /health:
    get:
      summary: Health Check
      description: Returns API health status including provider availability and lead qualification status
      operationId: getHealth
      tags:
        - System
      responses:
        '200':
          description: Health status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
              example:
                healthy: true
                providers:
                  grok:
                    name: "Grok (xAI)"
                    configured: true
                  gemini:
                    name: "Gemini 3 Flash"
                    configured: true
                  anthropic:
                    name: "Claude Opus 4.5"
                    configured: false
                  atlas:
                    name: "Atlas-Chat-9B (Darija)"
                    configured: true
                localFallback: true
                leadQualification:
                  enabled: true
                  hubspotIntegration: false
                  activeSessions: 5
                  maxSessions: 1000
                  thresholds:
                    hot: 75
                    warm: 50
                    cool: 25

  /respond:
    post:
      summary: Voice Response + Lead Qualification
      description: |
        Main endpoint for voice AI responses. Automatically qualifies leads based on conversation.

        ## Fallback Chain
        1. Grok (grok-4-1-fast-reasoning) - Primary
        2. Gemini 3 Flash - Fallback 1
        3. Claude Opus 4.5 - Fallback 2
        4. Atlas-Chat-9B - Darija only
        5. Local rule-based - Emergency

        ## Lead Qualification
        Automatically extracts BANT data:
        - **Budget**: Amount mentioned (€, $, MAD)
        - **Authority**: Decision maker indicators
        - **Need**: Industry/urgency signals
        - **Timeline**: Time-sensitive language
      operationId: postRespond
      tags:
        - Voice
        - Lead Qualification
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RespondRequest'
            example:
              message: "Je cherche une solution pour mon cabinet dentaire, budget autour de 500€/mois"
              sessionId: "session_123"
              language: "fr"
              history: []
      responses:
        '200':
          description: AI response with lead qualification data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RespondResponse'
        '400':
          description: Bad request (missing message or invalid JSON)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '413':
          description: Request body too large (max 1MB)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded (max 60 req/min)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitResponse'

  /qualify:
    post:
      summary: Explicit Lead Qualification
      description: |
        Manually qualify a lead with explicit data injection.
        Use this endpoint when you have structured lead data to score.
      operationId: postQualify
      tags:
        - Lead Qualification
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QualifyRequest'
            example:
              sessionId: "session_123"
              email: "contact@dentiste.ma"
              phone: "+212520000000"
              name: "Dr. Ahmed"
              budget: 500
              timeline: "urgent"
              industry: "dentaire"
              syncToHubspot: true
      responses:
        '200':
          description: Lead qualification result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QualifyResponse'
        '400':
          description: Missing sessionId or email
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /lead/{sessionId}:
    get:
      summary: Get Lead Session Data
      description: Retrieve lead qualification data for a specific session
      operationId: getLead
      tags:
        - Lead Qualification
      parameters:
        - name: sessionId
          in: path
          required: true
          description: The session ID to retrieve
          schema:
            type: string
      responses:
        '200':
          description: Lead session data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeadResponse'
        '404':
          description: Session not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /dashboard/metrics:
    get:
      summary: Dashboard Metrics
      description: |
        Returns aggregated metrics for the client dashboard.
        Includes call stats, lead qualification summary, and chart data.
        Auto-refreshes monthly.
      operationId: getDashboardMetrics
      tags:
        - Dashboard
      responses:
        '200':
          description: Dashboard metrics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardMetricsResponse'

  /metrics:
    get:
      summary: Prometheus Metrics
      description: Returns Prometheus-compatible metrics for monitoring
      operationId: getMetrics
      tags:
        - System
      responses:
        '200':
          description: Prometheus metrics
          content:
            text/plain:
              schema:
                type: string

  /config:
    get:
      summary: Widget Configuration
      description: Returns widget configuration including feature flags and booking data for a tenant
      operationId: getConfig
      tags:
        - Widget
      parameters:
        - name: tenantId
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Widget configuration
          content:
            application/json:
              schema:
                type: object
                properties:
                  tenantId:
                    type: string
                  features:
                    type: object
                    properties:
                      social_proof_enabled:
                        type: boolean
                      booking_enabled:
                        type: boolean
                      exit_intent_enabled:
                        type: boolean
                  booking:
                    type: object
                    properties:
                      url:
                        type: string
                        nullable: true
                      phone:
                        type: string
                        nullable: true

  /social-proof:
    get:
      summary: Social Proof Data
      description: Returns anonymized real-time social proof messages from aggregated metrics
      operationId: getSocialProof
      tags:
        - Widget
      parameters:
        - name: tenantId
          in: query
          schema:
            type: string
        - name: lang
          in: query
          schema:
            type: string
            enum: [fr, en, es, ar, ary]
            default: fr
      responses:
        '200':
          description: Social proof messages (empty array if no data)
          content:
            application/json:
              schema:
                type: object
                properties:
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        text:
                          type: string
                        icon:
                          type: string
                        time:
                          type: string

  /tts:
    post:
      summary: Text-to-Speech
      description: Converts text to speech audio using ElevenLabs or Web Speech API fallback
      operationId: postTTS
      tags:
        - Voice
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - text
              properties:
                text:
                  type: string
                  description: Text to convert to speech
                language:
                  type: string
                  enum: [fr, en, es, ar, ary]
                  default: fr
                voice:
                  type: string
                  description: Voice ID (ElevenLabs)
      responses:
        '200':
          description: Audio data
          content:
            audio/mpeg:
              schema:
                type: string
                format: binary
        '400':
          description: Missing text parameter

  /stt:
    post:
      summary: Speech-to-Text
      description: |
        Transcribes audio to text. Supports WebM, WAV, MP3 formats.
        Fallback chain: Grok (Whisper) → Gemini → error.
        Max audio size: 5MB.
      operationId: postSTT
      tags:
        - Voice
      parameters:
        - in: header
          name: X-Language
          schema:
            type: string
            enum: [fr, en, es, ar, ary]
            default: fr
          description: Target language for transcription
      requestBody:
        required: true
        content:
          audio/webm:
            schema:
              type: string
              format: binary
          audio/wav:
            schema:
              type: string
              format: binary
      responses:
        '200':
          description: Transcription result
          content:
            application/json:
              schema:
                type: object
                properties:
                  text:
                    type: string
                    description: Transcribed text
                  provider:
                    type: string
                    description: STT provider used (grok, gemini)
        '400':
          description: Audio data too small
        '413':
          description: Audio too large (max 5MB)
        '500':
          description: All STT providers failed

  /api/contact:
    post:
      summary: Contact Form Submission
      description: Processes contact form submissions from the website
      operationId: postContact
      tags:
        - Lead Qualification
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
              properties:
                name:
                  type: string
                email:
                  type: string
                  format: email
                phone:
                  type: string
                message:
                  type: string
      responses:
        '200':
          description: Contact submitted
        '400':
          description: Missing required fields

  /api/trigger-call:
    post:
      summary: Trigger Outbound Call
      description: Triggers an outbound call via the telephony bridge
      operationId: triggerOutboundCall
      tags:
        - Voice
        - Integrations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - phone
                - tenantId
              properties:
                phone:
                  type: string
                tenantId:
                  type: string
                name:
                  type: string
                context:
                  type: object
      responses:
        '200':
          description: Call initiated
        '502':
          description: Telephony bridge unavailable

  /api/health/grok:
    get:
      summary: Grok Provider Health
      description: Returns Grok API health status and latency
      operationId: getGrokHealth
      tags:
        - System
      responses:
        '200':
          description: Grok health status

  /api/health/telephony:
    get:
      summary: Telephony Bridge Health
      description: Returns telephony bridge health status
      operationId: getTelephonyHealth
      tags:
        - System
      responses:
        '200':
          description: Telephony health status

  /api/fallback/{provider}:
    get:
      summary: Fallback Provider Status
      description: Returns status for a specific fallback provider
      operationId: getFallbackStatus
      tags:
        - System
      parameters:
        - name: provider
          in: path
          required: true
          schema:
            type: string
            enum: [grok, gemini, anthropic, atlas, local]
      responses:
        '200':
          description: Provider status

  /admin/metrics:
    get:
      summary: Admin Metrics
      description: Returns platform-wide metrics for admin dashboard
      operationId: getAdminMetrics
      tags:
        - Admin
      responses:
        '200':
          description: Admin metrics

  /admin/tenants:
    get:
      summary: List Tenants
      description: Returns list of all tenants with their status
      operationId: listTenants
      tags:
        - Admin
      responses:
        '200':
          description: Tenant list
    post:
      summary: Create Tenant
      description: Creates a new tenant with KB provisioning
      operationId: createTenant
      tags:
        - Admin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - business_name
              properties:
                business_name:
                  type: string
                sector:
                  type: string
                phone:
                  type: string
                address:
                  type: string
      responses:
        '201':
          description: Tenant created
        '400':
          description: Invalid data

  /admin/refresh:
    post:
      summary: Refresh Cache
      description: Forces a refresh of cached data (tenants, configs)
      operationId: adminRefresh
      tags:
        - Admin
      responses:
        '200':
          description: Cache refreshed

  /admin/logs:
    get:
      summary: System Logs
      description: Returns recent system logs
      operationId: getAdminLogs
      tags:
        - Admin
      responses:
        '200':
          description: Log entries

  /admin/logs/export:
    get:
      summary: Export Logs
      description: Exports system logs in CSV or JSON format
      operationId: exportAdminLogs
      tags:
        - Admin
      parameters:
        - name: format
          in: query
          schema:
            type: string
            enum: [csv, json]
            default: json
      responses:
        '200':
          description: Exported logs

  /admin/health:
    get:
      summary: Admin Health Overview
      description: Returns comprehensive health status for all services
      operationId: getAdminHealth
      tags:
        - Admin
      responses:
        '200':
          description: Full health status

  /a2ui/generate:
    post:
      summary: A2UI Generate
      description: Generates adaptive UI components via A2UI service
      operationId: a2uiGenerate
      tags:
        - Widget
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Generated UI

  /a2ui/action:
    post:
      summary: A2UI Action Handler
      description: |
        Processes user actions from A2UI-generated components (booking confirmations,
        lead submissions, checkout triggers). Publishes events via internal event bus.
      operationId: a2uiAction
      tags:
        - Widget
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - action
              properties:
                action:
                  type: string
                  description: Action type (confirm_booking, submit_lead, checkout)
                  enum: [confirm_booking, submit_lead, checkout]
                data:
                  type: object
                  description: Action-specific data payload
                sessionId:
                  type: string
                tenant_id:
                  type: string
                widget_type:
                  type: string
      responses:
        '200':
          description: Action processed
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  action:
                    type: string
                  message:
                    type: string
        '400':
          description: Missing action field

  /a2ui/health:
    get:
      summary: A2UI Health
      description: Returns A2UI service health status
      operationId: a2uiHealth
      tags:
        - Widget
      responses:
        '200':
          description: A2UI health

components:
  schemas:
    HealthResponse:
      type: object
      properties:
        healthy:
          type: boolean
          description: Overall health status
        providers:
          type: object
          additionalProperties:
            type: object
            properties:
              name:
                type: string
              configured:
                type: boolean
        localFallback:
          type: boolean
          description: Local fallback availability (always true)
        leadQualification:
          type: object
          properties:
            enabled:
              type: boolean
            hubspotIntegration:
              type: boolean
            activeSessions:
              type: integer
            maxSessions:
              type: integer
            thresholds:
              type: object
              properties:
                hot:
                  type: integer
                warm:
                  type: integer
                cool:
                  type: integer

    RespondRequest:
      type: object
      required:
        - message
      properties:
        message:
          type: string
          description: User message to process
          maxLength: 10000
        sessionId:
          type: string
          description: Session ID for lead tracking (auto-generated if not provided)
        language:
          type: string
          enum: [fr, en, es, ar, ary]
          default: fr
          description: Response language
        history:
          type: array
          description: Conversation history
          items:
            type: object
            properties:
              role:
                type: string
                enum: [user, assistant]
              content:
                type: string

    RespondResponse:
      type: object
      properties:
        response:
          type: string
          description: AI-generated response
        provider:
          type: string
          description: AI provider that generated the response
        latency:
          type: number
          description: Response time in milliseconds
        lead:
          $ref: '#/components/schemas/LeadData'

    QualifyRequest:
      type: object
      properties:
        sessionId:
          type: string
          description: Session ID (required if email not provided)
        email:
          type: string
          format: email
          description: Lead email (required if sessionId not provided)
        phone:
          type: string
          description: Lead phone number
        name:
          type: string
          description: Lead name
        budget:
          type: number
          description: Monthly budget in EUR
        timeline:
          type: string
          description: Timeline urgency (urgent, soon, later)
        industry:
          type: string
          description: Industry sector
        syncToHubspot:
          type: boolean
          default: false
          description: Sync to HubSpot CRM

    QualifyResponse:
      type: object
      properties:
        success:
          type: boolean
        lead:
          $ref: '#/components/schemas/LeadData'

    LeadResponse:
      type: object
      properties:
        success:
          type: boolean
        lead:
          allOf:
            - $ref: '#/components/schemas/LeadData'
            - type: object
              properties:
                messagesCount:
                  type: integer
                createdAt:
                  type: integer
                  description: Unix timestamp

    LeadData:
      type: object
      properties:
        sessionId:
          type: string
        score:
          type: integer
          minimum: 0
          maximum: 100
          description: Lead score (0-100)
        status:
          type: string
          enum: [hot, warm, cool, cold]
          description: Lead temperature based on score
        scoreBreakdown:
          type: object
          properties:
            budget:
              type: integer
              description: Budget score (0-30)
            timeline:
              type: integer
              description: Timeline score (0-20)
            decisionMaker:
              type: integer
              description: Authority score (0-20)
            industryFit:
              type: integer
              description: Industry fit score (0-15)
            engagement:
              type: integer
              description: Engagement score (0-15)
        extractedData:
          type: object
          properties:
            email:
              type: string
            phone:
              type: string
            name:
              type: string
            budget:
              type: object
            timeline:
              type: object
            industry:
              type: string
        qualificationComplete:
          type: boolean
        hubspotSync:
          type: string
          nullable: true
          description: HubSpot sync status (null if not synced)

    DashboardMetricsResponse:
      type: object
      properties:
        stats:
          type: object
          properties:
            totalCalls:
              type: integer
              description: Total calls this month
            minutesUsed:
              type: integer
              description: Total minutes used this month
            conversionRate:
              type: number
              description: Hot leads / total qualified leads (%)
            nps:
              type: integer
              description: Net Promoter Score (-100 to 100)
        leads:
          type: object
          properties:
            hot:
              type: integer
            warm:
              type: integer
            cool:
              type: integer
            cold:
              type: integer
            total:
              type: integer
        charts:
          type: object
          properties:
            dailyCalls:
              type: array
              items:
                type: object
                properties:
                  date:
                    type: string
                    format: date
                  calls:
                    type: integer
            languages:
              type: object
              additionalProperties:
                type: integer
              description: Language distribution (%)
        provider:
          type: string
          description: Last AI provider used
        avgLatencyMs:
          type: integer
          description: Average response latency in ms
        lastUpdated:
          type: integer
          description: Unix timestamp of last update

    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Error message

    RateLimitResponse:
      type: object
      properties:
        error:
          type: string
          example: "Too many requests. Max 60/min."
        remaining:
          type: integer
          description: Remaining requests in current window

tags:
  - name: System
    description: Health and status endpoints
  - name: Voice
    description: Voice AI response endpoints
  - name: Lead Qualification
    description: BANT lead qualification endpoints
  - name: Dashboard
    description: Client dashboard metrics endpoints
  - name: Widget
    description: Widget configuration, social proof, and A2UI endpoints
  - name: Admin
    description: Admin dashboard and tenant management endpoints
  - name: Integrations
    description: Third-party integration endpoints (Zapier, telephony)
